:root{

    --light-square: rgb(247, 247, 247);
    --dark-square: rgb(117, 10, 10);
    --background: #312e2b;
    --secondary-background: #44413d;
    --button-color:rgb(150, 14, 14);
    --button-hover: rgb(187, 21, 21);
    --font: Arial, Helvetica, sans-serif;
    --highlight: rgb(215, 224, 81);
    --popup-color: rgb(247, 247, 247);
    --confirm-button-color: rgb(45, 124, 45);
    --confirm-button-color-hover: rgb(45, 182, 45);

}


*{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.hide{

    display: none!important;

}

body{

    background-color: var(--background);
    overflow: auto;

}

html, body{

    width: 100%;
    height: 100%;


}

header{


    background-color: var(--dark-square);
    width: 100%;
    display: flex;
    padding: 10px 30px 10px 30px;
    flex-wrap: nowrap;
    align-items: center;

}

header h1{

    color: white;
    font-weight: bold;
    font-size: 24px;
    font-family: var(--font);
    cursor: pointer;


}

.logo{

    width: 50px;

}


.container{

    padding-top: 1.4em;
    padding-left: 2em;
    padding-right: 2em;

    display: grid;

    grid-template-columns: 4fr 5fr 4fr;

    gap: 5px;


}

.players{

    background-color: var(--secondary-background);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height:fit-content;
    gap: 20px;
    justify-content: flex-start;
    width: fit-content;

}

.players img {

    width: 40px;
    height: auto;
    border-radius: 3px;


}

.players span{

    font-family: var(--font);
    color: white;
    font-weight: bold;

}

.timer{

    border-radius: 3px;
    padding: 7px;
    background-color: #b0b8b4;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 5px;
    margin-left: 30px;

}

.timer span{

    transform: translateY(1px);
    color: #fdfdfd;
}

.timer svg{

    color: #fdfdfd;
    width: 22px;
    height: 22px;

}

.opponent{

    align-self: flex-end;

}

.user{

    align-self: flex-start;
    width: fit-content;
}

.section1{

    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;

}

.section3{

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    gap: 10px;
}

.options{

    display: flex;
    gap: 10px;

}

button{

    background-color: var(--button-color);
    border: none;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    padding: 10px 20px 10px 20px;
    font-family: var(--font);
    font-weight: normal;
    color: rgb(255, 255, 255);
    transition-duration: 0.7s;

}

button:hover{

    background-color: var(--button-hover);

}

.parent_tablero {
    position: relative;
    width: 100%;
    margin: auto;
  }
  
  .parent_tablero:after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

#tablero_blancas{

    position: absolute;

    width: 100%;
    height: 100%;
    background-color: ivory;
    border: 1px solid rgb(133, 133, 133);
    box-shadow: rgb(54, 54, 54) 5px 5px 5px;
    margin: auto;

    display: grid;

    grid-template-areas: "a8 b8 c8 d8 e8 f8 g8 h8"
                         "a7 b7 c7 d7 e7 f7 g7 h7"
                         "a6 b6 c6 d6 e6 f6 g6 h6"
                         "a5 b5 c5 d5 e5 f5 g5 h5"
                         "a4 b4 c4 d4 e4 f4 g4 h4"
                         "a3 b3 c3 d3 e3 f3 g3 h3"
                         "a2 b2 c2 d2 e2 f2 g2 h2"
                         "a1 b1 c1 d1 e1 f1 g1 h1";

} 

#tablero_negras{

    position: absolute;

    width: 100%;
    height: 100%;
    background-color: ivory;
    border: 1px solid rgb(133, 133, 133);
    box-shadow: rgb(54, 54, 54) 5px 5px 5px;
    margin: auto;

    display: grid;

    grid-template-areas: "h1 g1 f1 e1 d1 c1 b1 a1"
                         "h2 g2 f2 e2 d2 c2 b2 a2"
                         "h3 g3 f3 e3 d3 c3 b3 a3"
                         "h4 g4 f4 e4 d4 c4 b4 a4"
                         "h5 g5 f5 e5 d5 c5 b5 a5"
                         "h6 g6 f6 e6 d6 c6 b6 a6"
                         "h7 g7 f7 e7 d7 c7 b7 a7"
                         "h8 g8 f8 e8 d8 c8 b8 a8";

}   

    /*Primera Fila*/

.a8{

    background-color: var(--light-square);
    grid-area: a8;
    

}

.b8{

    background-color: var(--dark-square);
    grid-area: b8;
    
}

.c8{

    background-color: var(--light-square);
    grid-area: c8;
    

}

.d8{

    background-color: var(--dark-square);
    grid-area: d8;
    
}

.e8{

    background-color: var(--light-square);
    grid-area: e8;
    

}

.f8{

    background-color: var(--dark-square);
    grid-area: f8;
    
}

.g8{

    background-color: var(--light-square);
    grid-area: g8;
    

}

.h8{

    background-color: var(--dark-square);
    grid-area: h8;
    
}

/*2da fila*/

.a7{

    background-color: var(--dark-square);
    grid-area: a7;
    

}

.b7{

    background-color: var(--light-square);
    grid-area: b7;
    
}

.c7{

    background-color: var(--dark-square);
    grid-area: c7;
    

}

.d7{

    background-color: var(--light-square);
    grid-area: d7;
    
}

.e7{

    background-color: var(--dark-square);
    grid-area: e7;
    

}

.f7{

    background-color: var(--light-square);
    grid-area: f7;
    
}

.g7{

    background-color: var(--dark-square);
    grid-area: g7;
    

}

.h7{

    background-color: var(--light-square);
    grid-area: h7;
    
}

    /*3era Fila*/

    .a6{

        background-color: var(--light-square);
        grid-area: a6;
        
    
    }
    
    .b6{
    
        background-color: var(--dark-square);
        grid-area: b6;
        
    }
    
    .c6{
    
        background-color: var(--light-square);
        grid-area: c6;
        
    
    }
    
    .d6{
    
        background-color: var(--dark-square);
        grid-area: d6;
        
    }
    
    .e6{
    
        background-color: var(--light-square);
        grid-area: e6;
        
    
    }
    
    .f6{
    
        background-color: var(--dark-square);
        grid-area: f6;
        
    }
    
    .g6{
    
        background-color: var(--light-square);
        grid-area: g6;
        
    
    }
    
    .h6{
    
        background-color: var(--dark-square);
        grid-area: h6;
        
    }
    
    /*4ta fila*/
    
    .a5{
    
        background-color: var(--dark-square);
        grid-area: a5;
        
    
    }
    
    .b5{
    
        background-color: var(--light-square);
        grid-area: b5;
        
    }
    
    .c5{
    
        background-color: var(--dark-square);
        grid-area: c5;
        
    
    }
    
    .d5{
    
        background-color: var(--light-square);
        grid-area: d5;
        
    }
    
    .e5{
    
        background-color: var(--dark-square);
        grid-area: e5;
        
    
    }
    
    .f5{
    
        background-color: var(--light-square);
        grid-area: f5;
        
    }
    
    .g5{
    
        background-color: var(--dark-square);
        grid-area: g5;
        
    
    }
    
    .h5{
    
        background-color: var(--light-square);
        grid-area: h5;
        
    }

    /*5ta Fila*/

    .a4{

        background-color: var(--light-square);
        grid-area: a4;
        
    
    }
    
    .b4{
    
        background-color: var(--dark-square);
        grid-area: b4;
        
    }
    
    .c4{
    
        background-color: var(--light-square);
        grid-area: c4;
        
    
    }
    
    .d4{
    
        background-color: var(--dark-square);
        grid-area: d4;
        
    }
    
    .e4{
    
        background-color: var(--light-square);
        grid-area: e4;
        
    
    }
    
    .f4{
    
        background-color: var(--dark-square);
        grid-area: f4;
        
    }
    
    .g4{
    
        background-color: var(--light-square);
        grid-area: g4;
        
    
    }
    
    .h4{
    
        background-color: var(--dark-square);
        grid-area: h4;
        
    }
    
    /*6ta fila*/
    
    .a3{
    
        background-color: var(--dark-square);
        grid-area: a3;
        
    
    }
    
    .b3{
    
        background-color: var(--light-square);
        grid-area: b3;
        
    }
    
    .c3{
    
        background-color: var(--dark-square);
        grid-area: c3;
        
    
    }
    
    .d3{
    
        background-color: var(--light-square);
        grid-area: d3;
        
    }
    
    .e3{
    
        background-color: var(--dark-square);
        grid-area: e3;
        
    
    }
    
    .f3{
    
        background-color: var(--light-square);
        grid-area: f3;
        
    }
    
    .g3{
    
        background-color: var(--dark-square);
        grid-area: g3;
        
    
    }
    
    .h3{
    
        background-color: var(--light-square);
        grid-area: h3;
        
    }
    
        /*7ma Fila*/
    
        .a2{
    
            background-color: var(--light-square);
            grid-area: a2;
            
        
        }
        
        .b2{
        
            background-color: var(--dark-square);
            grid-area: b2;
            
        }
        
        .c2{
        
            background-color: var(--light-square);
            grid-area: c2;
            
        
        }
        
        .d2{
        
            background-color: var(--dark-square);
            grid-area: d2;
            
        }
        
        .e2{
        
            background-color: var(--light-square);
            grid-area: e2;
            
        
        }
        
        .f2{
        
            background-color: var(--dark-square);
            grid-area: f2;
            
        }
        
        .g2{
        
            background-color: var(--light-square);
            grid-area: g2;
            
        
        }
        
        .h2{
        
            background-color: var(--dark-square);
            grid-area: h2;
            
        }
        
        /*8va fila*/
        
        .a1{
        
            background-color: var(--dark-square);
            grid-area: a1;
            
        
        }
        
        .b1{
        
            background-color: var(--light-square);
            grid-area: b1;
            
        }
        
        .c1{
        
            background-color: var(--dark-square);
            grid-area: c1;
            
        
        }
        
        .d1{
        
            background-color: var(--light-square);
            grid-area: d1;
            
        }
        
        .e1{
        
            background-color: var(--dark-square);
            grid-area: e1;
            
        
        }
        
        .f1{
        
            background-color: var(--light-square);
            grid-area: f1;
            
        }
        
        .g1{
        
            background-color: var(--dark-square);
            grid-area: g1;
            
        
        }
        
        .h1{
        
            background-color: var(--light-square);
            grid-area: h1;
            
        }

.recuadro{

    position: relative;


}

.pieza{

    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: auto;
    cursor:grab;
}

.pieza:active{

    cursor: grab;

}

.pieza{

    z-index: 3;

    

}

/*Estilos para los indices del tablero blanco*/

.recuadro::after{

    position: absolute;
    top: 3px;
    font-size: 12px;
    left: 3px;
    font-weight: bold;
    font-family: var(--font);
    z-index: 2;

}

#tablero_blancas .a8::after{

    content: '8';
    color: var(--dark-square);

}

#tablero_blancas .a7::after{

    content: '7';
    color: var(--light-square);

}

#tablero_blancas .a6::after{

    content: '6';
    color: var(--dark-square);

}

#tablero_blancas .a5::after{

    content: '5';
    color: var(--light-square);

}

#tablero_blancas .a4::after{

    content: '4';
    color: var(--dark-square);

}

#tablero_blancas .a3::after{

    content: '3';
    color: var(--light-square);

}

#tablero_blancas .a2::after{

    content: '2';
    color: var(--dark-square);

}

#tablero_blancas .a1::after{

    content: '1';
    color: var(--light-square);

}

.recuadro::before{

    position: absolute;
    bottom: 3px;
    font-size: 12px;
    right: 3px;
    font-weight: bold;
    font-family: var(--font);
    z-index: 1;

}

#tablero_blancas .a1::before{

    content: 'a';
    color: var(--light-square);

}

#tablero_blancas .b1::before{

    content: 'b';
    color: var(--dark-square);

}

#tablero_blancas .c1::before{

    content: 'c';
    color: var(--light-square);

}

#tablero_blancas .d1::before{

    content: 'd';
    color: var(--dark-square);

}

#tablero_blancas .e1::before{

    content: 'e';
    color: var(--light-square);

}

#tablero_blancas .f1::before{

    content: 'f';
    color: var(--dark-square);

}

#tablero_blancas .g1::before{

    content: 'g';
    color: var(--light-square);

}

#tablero_blancas .h1::before{

    content: 'h';
    color: var(--dark-square);

}

/*Indices para el tablero de las negras*/

#tablero_negras .h1::after{

    content: '1';
    color: var(--dark-square);

}

#tablero_negras .h2::after{

    content: '2';
    color: var(--light-square);

}

#tablero_negras .h3::after{

    content: '3';
    color: var(--dark-square);

}

#tablero_negras .h4::after{

    content: '4';
    color: var(--light-square);

}

#tablero_negras .h5::after{

    content: '5';
    color: var(--dark-square);

}

#tablero_negras .h6::after{

    content: '6';
    color: var(--light-square);

}

#tablero_negras .h7::after{

    content: '7';
    color: var(--dark-square);

}

#tablero_negras .h8::after{

    content: '8';
    color: var(--light-square);

}

#tablero_negras .a8::before{

    content: 'a';
    color: var(--dark-square);

}

#tablero_negras .b8::before{

    content: 'b';
    color: var(--light-square);

}

#tablero_negras .c8::before{

    content: 'c';
    color: var(--dark-square);

}

#tablero_negras .d8::before{

    content: 'd';
    color: var(--light-square);

}

#tablero_negras .e8::before{

    content: 'e';
    color: var(--dark-square);

}

#tablero_negras .f8::before{

    content: 'f';
    color: var(--light-square);

}

#tablero_negras .g8::before{

    content: 'g';
    color: var(--dark-square);

}

#tablero_negras .h8::before{

    content: 'h';
    color: var(--light-square);

}

.encima{

    background-color: var(--highlight);

}

.grabbing{

    cursor: grabbing!important;

}

.promotion{

    background-color: var(--popup-color);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    font-family: var(--font);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    
}

.promotion > img{

    width: 20%;

}

.overlay2{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 900; 

}

.overlay{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Ensure it appears on top of everything */

}

.popup{

    background-color: var(--popup-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 80%;
    font-family: var(--font);

}

.popup h3{

    margin-bottom: 10px;

}

.popup .options{

    margin-top: 10px;

}

.popup button{

    width: 50%;

}

.bubble{

    background-color: var(--popup-color);
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: fit-content;
    padding: 12px;
    font-family: var(--font);
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    z-index: 40;

    display: none;

}

.buttonGrouper{

    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 2px;
    margin-top: 10px;

}

#offerDraw, button.acceptDraw{

    background-color: var(--confirm-button-color);

}

#offerDraw:hover, button.acceptDraw:hover{

    background-color: var(--confirm-button-color-hover);

}

#waitingForMatch{

    display: flex;
    align-items: center;
    justify-content: center;
}

#waitingForMatch > div{

    padding: 25px 15px 25px 15px;

}


#waitingForMatch h2{

    font-size: 20px;
    font-weight: 600;
    margin: auto;

}

#waitingAnimation{

    margin: 10px;
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: center;

}

#waitingAnimation div:nth-child(1){

    animation-delay: 0s;

}

#waitingAnimation div:nth-child(2){

    animation-delay: 0.2s;

}

#waitingAnimation div:nth-child(3){

    animation-delay: 0.4s;

}

.ball{

    border-radius: 50%;
    background-color: rgb(58, 255, 229);
    width: 1.1em;
    height: 1.1em;
    box-shadow: 0 -0.2em rgba(35, 0, 46, 0.1) inset;
    animation: loading 1.1s ease-in-out infinite;

}

@keyframes loading{

0%{

    transform: translateY(0);

}

50%{

    transform: translateY(-50%);

}

100%{

    transform: translateY(0);

}

}

@media screen and (max-width: 1088px){

    .container{

        grid-template-columns: 1fr 2fr 1fr;

    }

}

@media screen and (max-width: 1023px){

    .container{

        grid-template-columns: 1fr;
        column-gap: 0px;
        row-gap: 20px;

    }

    .parent_tablero{

        width: 75%;

    }

    .opponent{

        align-self: flex-start;
        margin-left: 20px;

    }

    .section3{

        flex-direction: row;
        padding-bottom: 30px;

    }

    .user{

        align-self: flex-end;
        margin-right: 20px;

    }

}

@media screen and (max-width: 755px){

    .parent_tablero{

        width: 90%;

    }

}

@media screen and (max-width: 555px){

    .parent_tablero{

        width: 100%;

    }

    .recuadro::after{

        font-size: 10px;
        top: 1px;
        left: 2px;

    }

    .recuadro::before{

        font-size: 10px;
        bottom: 2px;
        right: 2px;

    }

    .ball{

        width: 1em;
        height: 1em;

    }

    #waitingForMatch > div{

        padding: 18px;

    }

    #waitingAnimation{

        margin: 5px;

    }

    #waitingForMatch h2{

        font-size: 20px;
        width: 90%;

    }

}

@media screen and (max-width: 500px){

    .parent_tablero{

        width: 100%;
        margin: auto;

    }

    header{

        width: 100%;

    }

    .container{

        padding-left: 0px;
        padding-right: 0px;
        row-gap: 10px;

    }

    .section3{

        flex-wrap: wrap-reverse;

    }

    .user{

        margin-right: 0px;

    }

    .players{


        width: 80%;
        justify-content: space-between;
        padding: 6px;

    }

    .players span{

        font-size: 14px;

    }

    .players svg{

        max-width: 15px;

    }

    .players img{

        max-width: 35px;

    }

    .opponent{

        margin-left: 0px;

    }

    .timer{

        padding: 3px 5px 3px 5px;

    }

    .timer span{

        font-size: 12px;

    }


}

